* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    background-color: #008080;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

form {
    background-color: #f6f7f9;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.44);
    color: #3e4345;
    margin: 1.8rem 0;
    min-height: 80vh;
    padding: 1rem;
    width: 85%;
}

fieldset {
    border: none;
    color: #3e4345;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.3rem 0;
    text-align: center;
    width: 100%;
}

legend {
    font-size: 1.7rem;
    font-weight: 550;
    margin-bottom: 1rem;
}

.full-box,
.half-box {
    flex: 1 1 100%;
    position: relative;
    text-align: start;
}

input,
label,
select {
    color: #3e4345;
    display: block;
    outline: none;
    width: 100%;
}

label {
    font-size: 1.5rem;
    font-weight: 700;
}

select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #90ee90;
    font-size: 1.4rem;
    margin-top: 1.4rem;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #90ee90;
    font-size: 1.4rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #008000;
    transition: 1s;
    transform: scaleX(1.0);
    transform-origin: left;
}

input:focus,
select:focus {
    background: RGBA(240, 248, 255, 1);
}

#agreement {
    display: inline-block;
    margin-right: 0.1rem;
    width: 7%;
}

#agreement-label {
    display: inline-block;
    padding-top: 0.5rem;
    width: 90%;
}

.btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
}

button {
    background-color: #008000;
    border: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    font-size: 1.2rem;
    height: 40px;
    opacity: 0.8;
    padding: 0.2rem 2.7rem;
}

button:hover {
    opacity: 1;
}

button:active {
    background-color: rgba(173, 216, 230, 0.4);
    border: 1px solid #008000;
    color: #008000;
    opacity: 1;
}

a {
    color: #008000;
}

.error-validation {
    color: #ff1a1a;
    font-size: 1rem;
    position: absolute;
    top: 57px;
}

.template {
    display: none;
}

.hide {
    display: none;
}

#errortermos {
    color: #ff1a1a;
    font-size: 1rem;
    margin-top: -4%;
}


/*Responsividade*/
@media screen and (min-width: 780px) {
    form {
        width: 70%;
    }

    fieldset {
        border: none;
        color: #3e4345;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5rem;
        text-align: center;
    }

    .half-box {
        flex: 1 1 45%;
        position: relative;
        text-align: start;
    }

    .spacing {
        margin-right: 2.5%;
    }

    #agreement,
    #agreement-label {
        display: inline-block;
        width: auto;
    }

    select {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #90ee90;
        font-size: 1.4rem;
        margin-top: 0.1rem;
    }

}