*{
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	align-items: center;
	background-color: #008080;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	min-height: 100vh;
    width: 100%;
}

main {
    background: #f6f7f9;
	border-radius: 10px;
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.44);
	min-height: 70vh;
	min-width: 45%;
	padding: 1rem;
}

main h2{
    color: #3e4345;
    font-size: 1.7rem;
	font-weight: 900;
	margin-bottom: 0.5rem;
	position: relative;
    text-align: center;
}

main h2::before{
	background: #008000;
	border-radius: 10px;
	bottom: 2px;
	content: '';
	height: 4px;
	left: 35%;
	position: absolute;
	width: 12%;
}

form {
    height: 100%;
    width: 100%;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
    text-align: start;
}

input,
label {
    color: #3e4345;
    display: block;
    outline: none;
    width: 100%;
}

label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #90ee90;
    color: #3e4345;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 10px;
}

input:focus {
    background: RGBA(240, 248, 255, 1);
    border-color: #008000;
    transition: 1s;
    transform: scaleX(1.0);
    transform-origin: left;
}

.btn {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    background-color: #008000;
    border: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    font-size: 1.2rem;
    height: 40px;
    opacity: 0.8;
    padding: 0.2rem 2.7rem;
}

button:hover {
    opacity: 1;
}

button:active {
    background-color: rgba(173, 216, 230, 0.4);
    border: 1px solid #008000;
    color: #008000;
    opacity: 1;
}

.cadastro {
    align-items: center;
    background-color: rgba(0,0,0,0.04);
    color: #3e4345;
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    margin: 1rem 0;
}

a {
    color: #008000;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.2rem;
}

.footer {
    align-items: center;
    color: #3e4345;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    flex-direction: column;
}

.conect__google {
    margin-top: 0.5rem;
}


/*Responsividade*/
@media screen and (min-width: 350px) {
    main h2::before{
        height: 4px;
        left: 38.5%;
        width: 11%;
    }
    
}

@media screen and (min-width: 500px) {
    main h2::before{
        height: 4px;
        left: 42%;
        width: 7.5%;
    }
    
}
